/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.nav-link:hover{
  border-bottom: 3px solid #aa0404;

}

.nav-item .nav-link:focus{
  border-bottom: 3px solid #aa0404;

  
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    CARDHEADER/PANEL STYLE
----------------------------------------------------- */

.card-header {
  padding: .5rem 1.25rem;
  margin-bottom: 0;
  color: white;
  background:linear-gradient(to right, #bd0303, rgb(243, 125, 14));
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body .row .well {
  background-color: #dedcdc;
  border: 10px #dedcdc;
  padding: 13px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  text-align: center;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(8, 8, 8);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000000;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(0, 0, 0);
    background: rgb(150, 150, 150);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgb(0, 0, 0);
    background: #bbbbbb;

}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #626263;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    ADMIN LOGIN
----------------------------------------------------- */

.admin-login-form-signin {
  position: absolute;
  top: 13vh;
  max-width: 380px;
  margin: 0 auto;
  background-color: #fff;
  padding: 60px 40px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 10px; 
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.664);
}

.btn-primary-login{
  color:#fff;
  background: linear-gradient(to left, #bd0303, rgb(243, 125, 14));
}
.btn-primary-login:hover {
  color: white;
  background: linear-gradient(to right, #bd0303, rgb(243, 125, 14));
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.863);
}
.logo{
  width:100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  position:absolute;
  top: calc(-100px/2);
  left: calc(50% - 50px);
}
.admin-login-form-signin .admin-login-form-signin-heading, .admin-login-form-signin .checkbox {
  margin-bottom: 30px;
}
.admin-login-form-signin input[type="text"], .admin-login-form-signin input[type="password"] {
  margin-bottom: 20px;
}
.admin-login-form-signin .admin-login-form-control {
  padding: 10px;
}

.animation-area{
  background: linear-gradient(to left, #bd0303, rgb(243, 125, 14));
  width: 100%;
  height: 100vh;
  position:absolute;
  z-index: -1;
}

.box-area{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  overflow: hidden;
}

.box-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: rgba(255,255,255,0.2);
  animation: animate 20s linear infinite;
  bottom: -110px;
}

.box-area li:nth-child(1){
  left:86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2){
  left:12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3){
  left:70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
  
}

.box-area li:nth-child(4){
  left:42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5){
  left:65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6){
  left:15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(7){
  left:28%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(8){
  left:10%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 12s;
}

@keyframes animate{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity:1;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity:0;
  }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    USER SIDEBAR STYLE
----------------------------------------------------- */
#user-sidebar{
    position:fixed;
    width: 200px;
    height: 100%;
    background: black;
    left: -200px;
}
#user-sidebar.active{
    left: 0px;
}
#user-sidebar ul li{
    color: white;
    list-style: None;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
/* ---------------------------------------------------
    USER ACCOUNT SIDEBAR 
----------------------------------------------------- */

  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  
  /*.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }*/
  
  .profile-usertitle {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }

  #profile-display{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, #bd0303, rgb(243, 125, 14));
    border: 3px solid white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.863);
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .content-table{
    border-collapse: collapse;
    margin: 8px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  }

  .content-table thead tr{
    background: linear-gradient(to left, #bd0303, rgb(243, 125, 14));
    color: white;
    text-align: left;
    font-weight: bold;
  }

  .content-table th, .content-table td{
    padding: 10px 35px;
  }

  .content-table tbody tr{
    border-bottom: 1px solid #dddddd;
  }

  .content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
  }
  .content-table tbody tr:last-of-type{
    border-bottom: 2px solid red;
  }

/* ---------------------------------------------------
    SIGN UP
----------------------------------------------------- */

.wrap{
  max-width: 380px;
  border-radius:20px;
  margin: auto;
  background: white;
  padding: 20px;
  color: #000000;
  margin-top: 5vh;
  padding:20px 20px 20px;
}

.wrap-credentials{
  max-width: 380px;
  border-radius:20px;
  margin: auto;
  background: white;
  padding: 20px;
  color: #000000;
  margin-top: 13vh;
  padding:20px 20px 20px;
}
/*
input[type=submit]{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
  outline: none;
  border: none;
  background: #60adde;
  opacity: 0.7;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
}

input[type=submit]:hover{
  background: #003366;
  opacity:0.7;
}
*/
.btn-primary-signup{
  color:#fff;
  background: linear-gradient(to left, #bd0303, rgb(243, 125, 14));
}
.btn-primary-signup:hover {
  color: white;
  background: linear-gradient(to right, #bd0303, rgb(243, 125, 14));
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.863);
}




/*   USER HOME   */
